<form #forma='ngForm' (ngSubmit)="forma.valid && continue(); forma.valid && forma.resetForm()"
style="position: absolute; top:30%; left:50%; transform: translate(-50%, -50%)">
  <table>
    <tr>
      <td>{{pitanje.tekst}}</td>
    </tr>
    <tr *ngFor="let p of pitanje.potpitanja; let i = index">
      <td>{{slovo(i)}}){{p.tekst}}</td>
      <td><input type="number" name="o{{i}}"  [(ngModel)]="odgovori[i]" #o="ngModel" [ngClass]="{'error': forma.submitted && o.invalid}" required/></td>
    </tr>
    <tr>
      <input type="submit" value="Odgovori" />
    </tr>
  </table>
</form>
<div style="position: absolute; right: 0; bottom: 0">
  <input type="password" name="pass" [(ngModel)]="password" class="invisible" />
  <input type="button" value="admin" (click)="gotoAdmin()"  class="invisible" />
</div>