<div style="position: absolute;top:0%; left: 50%; transform: translateX(-50%); text-align: center">
<h2 >Postojeca pitanja</h2>

    <table *ngFor="let q of pitanja" style="width:100%; text-align: center">
        <tr>
            <td colspan="2">
            {{tekst(q)}}
            </td>
            
        </tr>
        <tr *ngFor="let o of potpitanja(q); let i = index">
            <td style="text-align:left">{{slovo(i)}}){{o.tekst}}</td>
            <td style="text-align:left">{{o.odgovor}}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right">
            <input type="button" value="Neodgovoreno" (click)="skloniOdgovoreno(q)" *ngIf="odgovoreno(q)" >
            <input type="button" value="Obrisi" (click)="obrisiPitanje(q)">
            </td>
        </tr>
    </table>


<hr>

<form #forma='ngForm' (ngSubmit)="forma.valid && brPitanja.value>0 && dodajPitanje(); forma.valid && brPitanja.value>0 && forma.resetForm()" style="text-align:left" >
    <table>
        <tr>
            <td>
                Tekst pitanja:
            </td>
            <td>
                <input type="text" name="tekstPitanja" #tekstPitanja='ngModel' [(ngModel)]="pitanje.tekst" required />
                <span *ngIf="forma.submitted && tekstPitanja.errors?.required" class="greska">{{greska}}</span>
            </td>
        </tr>
        <tr>
            <td>
                Broj trazenih odgovora:
            </td>
            <td>
                <input type="number" name="brPitanja" [(ngModel)]="pitanje.brPitanja" #brPitanja='ngModel'
                    (change)="dodajOdgovore()" required/>
                <span *ngIf="forma.submitted && brPitanja && brPitanja.value<=0 && !brPitanja.errors?.required">{{greskaBroj}}</span>
                <span *ngIf="forma.submitted && brPitanja.errors?.required" class="greska">{{greska}}</span>
            </td>
        </tr>
        <tr *ngFor="let p of pitanje.potpitanja; let i = index">
            <td>{{slovo(i)}}) Tekst pitanja:
                <br>
                Odgovor:
            </td>
            <td>
                <input type="text" name="t{{i}}" [(ngModel)]="p.tekst" #t="ngModel" required />
                <span *ngIf="forma.submitted && t.errors?.required" class="greska">{{greska}}</span>
                <br>
                <input type="number" name="o{{i}}" [(ngModel)]="p.odgovor" #o="ngModel" required />
                <span *ngIf="forma.submitted && o.errors?.required" class="greska">{{greska}}</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="centar">
                <input type="submit" value="Dodaj pitanje"/>
            </td>
        </tr>
    </table>
</form>
</div>

